extend base.pug
		
block content

	div(ng-controller="LoginCtrl" )
		md-content(class="md-padding" style="height: 100vh" layout="row" layout-align="center center")
			div(class="login")
				md-card
					md-card-header
						md-card-avatar
							md-icon(md-font-library="material-icons") account_box
						span(class="md-headline") Login
					md-card-content Tasqer is an easy to use, light-weight, simple task management system. Login with your Google account to gain access now.
					md-card-actions(layout="row" layout-align="end center")
						md-button(ng-click="Login()") Let's Go!
				

block script

	script.
		(function(){
		'use strict';
			angular.module('TaskApp', ['ngMaterial'])
				.config(function($mdIconProvider) {
					$mdIconProvider.fontSet('md', 'material-icons');
				})
				.controller('LoginCtrl', function($scope) {
					$scope.Login = function(){
						var provider = new firebase.auth.GoogleAuthProvider();
						firebase.auth().signInWithPopup(provider).then(function(result){
							//- var user = result.user;
							location.pathname = '/';
						}).catch(function(error){
							alert(error.message);
						});
					}
				});
		})();
