extend base.pug

block content

    script(src="https://cdn.firebase.com/libs/firebaseui/1.0.1/firebaseui.js")
    link(type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.1/firebaseui.css")

    
    div(id='firebaseui-auth-container')
        h1(style="text-align: center; color: #aaa") Tasqer

block script

    script.
        // FirebaseUI config.
        var uiConfig = {
            signInSuccessUrl: '/tasks',
            signInOptions: [{
                provider: firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                scopes: ['https://www.googleapis.com/auth/drive.readonly']
            }],
            callbacks: {
                signInSuccess: function(currentUser, credential, redirectUrl) {
                    setToken(credential.accessToken)
                    return true;
                },
            },
        };
        // Initialize the FirebaseUI Widget using Firebase.
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        // The start method will wait until the DOM is loaded.
        ui.start('#firebaseui-auth-container', uiConfig);
