extend base.pug

block content

	//- ------------------ -//
			Menu Button
	//- ------------------ -//
	div(ng-controller="MenuCtrl")
		md-fab-speed-dial(md-open="MenuCtrl.isOpen" ng-mouseenter="MenuCtrl.isOpen=true; icon='create'"
		ng-mouseleave="MenuCtrl.isOpen=false; icon='menu'"
						  md-direction="up" class="md-scale md-fab-bottom-right md-hover-full")
			md-fab-trigger
				md-button(aria-label="Menu" class="md-fab md-warn" ng-click="TaskDialog($event)")
					md-icon(md-font-library="material-icons" ng-bind="icon")
					md-tooltip(md-direction="left") New Task
			md-fab-actions
				//- md-button(aria-label="Add Task" class="md-fab md-raised md-mini")
				//- 	md-icon(md-font-library="material-icons" ng-click="TaskDialog($event)") create
				//- 	md-tooltip(md-direction="left") New Task
				//- md-button(aria-label="Add Page" class="md-fab md-raised md-mini")
				//- 	md-icon(md-font-library="material-icons") add
				//- 	md-tooltip(md-direction="left") New Page
				md-button(aria-label="logout" class="md-fab md-raised md-mini")
					md-icon(md-font-library="material-icons" ng-click="Logout()") exit_to_app
					md-tooltip(md-direction="left") Logout

	//- ------------------ -//
		Submit Task Dialog
	//- ------------------ -//
	div(ng-controller="SubmitTaskCtrl")
		div(style="visibility: hidden")
			div(class="md-dialog-container" id="create_task")
				md-dialog(layout-padding aria-label="Create Task")
					md-dialog-content
						h4 Create Task
						div(layout="column")
							div(layout="row")
								md-input-container
									label Title
									input(ng-model="title")
								md-input-container
									label Due Date
									md-datepicker(ng-model="date")
							md-input-container
								label Description
								textarea(ng-model="desc")
					md-dialog-actions
						md-button(ng-click="cancel()") Cancel
						md-button(ng-click="submit()") Submit

	//- ------------------ -//
		Update Task Dialog
	//- ------------------ -//
	div(ng-controller="UpdateTaskCtrl")
		div(style="visibility: hidden")
			div(class="md-dialog-container" id="update_task")
				md-dialog(layout-padding aria-label="Update Task")
					md-dialog-content
						h4 Update Task
						div(layout="column")
							div(layout="row")
								md-input-container
									label Title
									input(ng-model="title")
								md-input-container
									label Due Date
									md-datepicker(ng-model="date")
							md-input-container
								label Description
								textarea(ng-model="desc")
					md-dialog-actions
						md-button(ng-click="cancel()") Cancel
						md-button(ng-click="submit()") Save

	//- ------------------ -//
			  Tasks
	//- ------------------ -//
	div(ng-controller="TaskCtrl")
		div(layout="row")
			div(flex="33" ng-repeat="arr in items track by $index" ng-init="$rowIndex = $index")
				md-toolbar(layout="row")
					div(class="md-toolbar-tools")
						span {{titles[$index]}}
				md-content(style="height: 90vh; overflow: scroll")
					md-card(ng-repeat="task in arr track by $index"
					ng-click="UpdateTask($event, task.key, task.title, task.date, task.desc)")
						md-card-title(layout-align="end center")
							md-card-title-text(flex layout="row" layout-align="space-between center")
								b(md-headline ng-model="title") {{task.title}}
								i(md-subhead ng-model="date") {{task.due}}
							md-button(class="md-icon-button"
							ng-click="MoveTask($event, task.key, $rowIndex); $event.stopPropagation()")
									md-icon(md-font-library="material-icons" ) {{icons[$rowIndex]}}
										md-tooltip(md-direction="top") {{icon_names[$rowIndex]}}
						md-card-content(style="white-space: pre-wrap")
							p(ng-model="desc") {{task.desc}}
						md-card-actions(layout="row" layout-align="end center")
							
						
block script
	script(src="tasks.js")
		
		