extend base.pug

block content

	//- ------------------ -//
			Menu Button
	//- ------------------ -//
	div(ng-controller="MenuCtrl")
		md-fab-speed-dial(md-open="MenuCtrl.isOpen" ng-mouseenter="MenuCtrl.isOpen=true; icon='create'"
		ng-mouseleave="MenuCtrl.isOpen=false; icon='menu'"
						  md-direction="up" class="md-scale md-fab-bottom-right md-hover-full")
			md-fab-trigger
				md-button(aria-label="Menu" class="md-fab md-warn" ng-click="TaskDialog($event)")
					md-icon(md-font-library="material-icons" ng-bind="icon")
					md-tooltip(md-direction="left") New Task
			md-fab-actions
				md-button(aria-label="logout" class="md-fab md-raised md-mini")
					md-icon(md-font-library="material-icons" ng-click="Logout()") exit_to_app
					md-tooltip(md-direction="left") Logout

	//- ------------------ -//
		Submit Task Dialog
	//- ------------------ -//
	div(ng-controller="SubmitTaskCtrl")
		div(style="visibility: hidden")
			div(class="md-dialog-container" id="create_task")
				md-dialog(layout-padding aria-label="Create Task")
					md-dialog-content
						h4 Create Task
						div(layout="column")
							md-input-container
									label Title
									input(ng-model="title" required)
							div(layout="row")
								md-input-container(class="md-block" flex)
									label Priority
									md-select(ng-model="label")
										md-option(value="High") High
										md-option(value="Medium") Medium
										md-option(value="Low") Low
								md-input-container(class="md-block" flex)
									label Due Date
									md-datepicker(ng-model="date" required)
							md-input-container(required)
								label Description
								textarea(ng-model="desc")
					md-dialog-actions
						md-button(ng-click="cancel()") Cancel
						md-button(ng-click="submit()") Submit

	//- ------------------ -//
		Update Task Dialog
	//- ------------------ -//
	div(ng-controller="UpdateTaskCtrl")
		div(style="visibility: hidden")
			div(class="md-dialog-container" id="update_task")
				md-dialog(layout-padding aria-label="Update Task")
					md-dialog-content
						h4 Update Task
						div(layout="column")
							md-input-container
									label Title
									input(ng-model="title" required)
							div(layout="row")
								md-input-container(class="md-block" flex)
									label Priority
									md-select(ng-model="label")
										md-option(value="High") High
										md-option(value="Medium") Medium
										md-option(value="Low") Low
								md-input-container(class="md-block" flex)
									label Due Date
									md-datepicker(ng-model="date" required)
							md-input-container(required)
								label Description
								textarea(ng-model="desc")
					md-dialog-actions
						div(layout="row" style="width: 100%" layout-align="space-between center")
							md-button(class="md-icon-button" ng-click="RefreshTask()")
								md-icon(md-font-library="material-icons") refresh
								md-tooltip(md-direction="right") Move to Upcoming
							div
								md-button(ng-click="cancel()") Cancel
								md-button(ng-click="submit()") Save

	//- ------------------ -//
			  Tasks
	//- ------------------ -//
	div(ng-controller="TaskCtrl")
		div(layout="row" style="height: 100vh")
			div(flex="33" ng-repeat="arr in items track by $index" ng-init="$rowIndex = $index")
				md-toolbar(layout="row" layout-align="center center") {{titles[$index]}}
				md-content(style="height: 92vh; overflow: scroll")
					md-card(ng-repeat="task in arr track by $index"
					ng-click="UpdateTask($event, task.key, task.title, task.label, task.date, task.desc)")
						md-card-header
							md-card-avatar
								md-icon(md-font-library="material-icons" ng-class="task.label") label
							md-card-header-text(layout="row" layout-align="space-between center")
								div(layout="column")
									span(class="md-title") {{task.title}}
									span(class="md-subhead") {{task.due}}
								md-button(class="md-icon-button" style="float: right"
								ng-click="MoveTask($event, task.key, $rowIndex); $event.stopPropagation()")
									md-icon(md-font-library="material-icons") {{icons[$rowIndex]}}
										md-tooltip(md-direction="left") {{icon_names[$rowIndex]}}

						md-card-content(ng-model="desc") {{task.desc}}
							
						
block script
	script(src="tasks.js")
		
		